* {
  box-sizing: border-box;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

button {
  margin-left: 10px;
}

.user-head {
  font-size: 40px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

nav {
  display: flex;
  padding: 10px;
}

div.lenk {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-user input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 5px;
  color: #2c3e50;
  font-size: 13px;
}

.sub > button {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin: 10px auto;
}

.sub {
  display: flex;
  align-items: center;
}

.success {
  border: 1px solid #2c3e50;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 5px;
  font-style: italic;
}

.delete {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.edit {
  background-color: yellow;
  color: black;
  padding: 5px 8px;
  border-radius: 3px;
}

@media only screen and (max-width: 600px) {
  .act {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
